[Desktop Entry]
Type=Application
Name=Kaiteyo
Comment=Japanese language learning app with writing exercises, flashcards and built-in dictionary
Exec=kaiteyo.sh
Icon=io.github.syt0r.kaiteyo
Terminal=false
Categories=Education
Keywords=language;